body {
  margin: 0;
  background-color: #D3CEDF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 18px;
  color: #4d5f72;
}

p{
  font-size: 14px;
  color: #4d5f72;
}

ul{
  list-style:none;
  padding-left:0px;
  display : flex
}
li{
  padding-right: 7px;
}
/* 신규 리뷰 등록 영역  */
.input-register{
  height : 40px;
  width: 400px;
  padding-left: 13px;
  border-radius: 5px;
  border: 1px solid #ddd
}
.textarea-comment{
  height : 250px;
  width : 390px;
  padding: 15px 13px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}
.select{
  height : 45px;
  width : 415px;
  padding-left: 13px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd
}
.btn-register{
  width : 415px;
  height : 45px;
  margin-top: 20px;
  background-color: #748DA6;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
}

#register{
  padding: 10px 20px 20px 20px ;
  border-right: 2px solid #F2D7D9;
  display: table-cell;
  vertical-align: middle;
  width: 450px;
}

#content{
  width: 70%;
}

.input-search{
  height : 40px;
  width: 1200px;
  padding-left: 13px;
  border-radius: 5px;
  border: 1px solid #ddd
}
/* 영화 리뷰 박스 별점 영역 */
.star{
  width: 15px;
  height: 15px;
  background-color: #fcf67b;
  border-color: #fcf67b;
  border-radius: 10px;
  margin-right: 7px;
}

.starList{
  display: flex;
}

#search {
  padding: 10px 20px 20px 20px ;
}

#reviews{
  padding: 10px 20px 20px 20px ;
}

.review-box{
  background-color: #f6efff;
  border: #ddd solid 1px;
  border-radius: 10px;
  padding : 20px 0px 20px 20px;
  margin-bottom: 20px;
  width:400px;
}
